body {
  background-color: #F5F6F3;
}

.app {
  text-align: center;
  align-items: center;
}

.input {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  text-align: center;
  font-size: 22px;
  transition-duration: 1.2s;
}

.input:hover {
  transition-duration: 1.2s;
  box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.86);
}

.input:focus {
  box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.86);
}

.btn {
  background: none;
  border: 1px solid #90C9C5;
  text-align: center;
  border-radius: 5px;
  height: 40px;
  font-size: 22px;
  margin-left: 5px;
  transition-duration: 1.2s;
}

.btn:hover {
  background: #90C9C5;
  transition-duration: 1.2s;
  box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.86);
}

.uspImages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
}

.uspImages img {
  width: 100%;
  height: 300px;
  background-size: contain;
  opacity: 0.7;
  transition-duration: 1.2s;
  border-radius: 5px;
  object-fit: cover;
}

.uspImages img:hover {
  height: 75%;
  opacity: 1;
  transition-duration: .8s;
  box-shadow: 0px 0px 17px 0px rgba(50, 50, 50, 0.86);
}

.water {
  position: absolute;
  top: -15px;
  opacity: 0.3;
}

@media (max-width: 600px) {
  .uspImages {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 420px) {
  .uspImages {
    grid-template-columns: 1fr;
  }
}